div#wholePage{
    width: 100%;
    margin-top:245px !important;
    padding: 14px !important;
    background-color: lightgray !important;
    /* height: 100%; */
}

h2#headerh2{
    text-align: center;
    font-size: 40px;
    width: 100%;
    font-family: cursive;
    text-transform: uppercase;
}

h2#headerh2:hover{
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-color: white;
    font-family: cursive;
    text-transform: uppercase;
}

div#comboboxLine{
    margin-top: 0px;
    /* text-align: center; */
    /* width: 100%; */
    text-align: center;
    font-size: 18px;
    margin-bottom: 2px;
}

select#cbox{
    background-color: gray;
    border: 0pt;
    color: white;
  
}


div#mapaa{
    border:5px solid #555555;
    /* border-width: 70%; */
    /* border-width:6px 6px 6px 6px; */
    
    border-top-width: 0% !important;
    border-bottom-width: 1% !important;

    border-left-width: 5px !important;
    border-right-width: 5px !important;

    height:410px !important;
    width: 90% !important; 

    margin-left: 5% !important;
    /* 400px; width: 90%*/

  /* align-items: center; */
  /* z-index: 0; */
  /* margin-left: 20%; */
  /* right: 0; */
  /* position: relative; */

  /* padding-left: 0 !important; */
  /* border-spacing: 0px; */
  /* margin: 20px auto;
  height: -moz-calc(100% - 50px);
  width: -moz-calc(80% - 50px) !important; */
/* 
  border-collapse: separate !important;
  border-spacing: 0px !important; */

  -ms-wrap-margin: 0% !important;
}

  

