
<div id="wholePage">
 <div class="container">
  <h1 id="headerh1">Login form</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value, loginForm)">
      <div class="form-group">
        <!-- <label for="email">Email address</label> -->
        <i class="fa fa-user" aria-hidden="true"></i>
        <input required type="email" class="form-control" pattern="[a-zA-Z0-9!#$%&amp;'*+\/=?^_`{|}~.-]+@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*"
         name="Email" placeholder="Email" ngModel>
      
        <div *ngIf="!validations.emailOk" style="color:red">Email can't be empty.</div>
        <div *ngIf="!validations.emailOk1" style="color:red">Email must have '@' character! </div>

      </div>


      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <i class="fa fa-lock" aria-hidden="true"></i>
        <input required type="password" class="form-control" name="Password" placeholder="Password" ngModel>
      
        <div *ngIf="!validations.passwordOk" style="color:red">Password can't be empty.</div>

      </div>


      <button type="submit" class="btn" id="btnForLog">Login</button>
    </form>
  </div>
</div>