div#wholePage{
    width: 100%;
    
    margin-top: 260px !important;
    padding: 11px !important;
    
    background-color:lightgray !important;
    height: 500px !important;
}


h2#info:hover{
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-color: white;
    font-family: cursive;
}

label{
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: bold;
    color: #555555; /*#09C;*/
    text-decoration: none;
}

button#designBtn{
   
    padding: 15px 45px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0% !important;
    width: 300px !important;
    margin-bottom: 0% !important;

    background: #555555 linear-gradient(to bottom, transparent, #A9A9A9);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 22px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 15px;
    text-decoration: none;
    
}

button#designBtnForAction{

    padding: 15px 45px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0% !important;
    width: 300px !important;
    margin-bottom: 0% !important;

    background: #555555 linear-gradient(to bottom, transparent, #A9A9A9);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 22px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 15px;
    text-decoration: none;
    
}

h4#infoh4{
    
    font-size: 20px;
    width: 100%;
    margin: 10px !important;
    padding: 14px 0;
    font-weight: normal !important;
    background: lightgray;
    color: rgb(182, 5, 5);
}

label#idForLab{
    clear: both;
}



button#designBtn:active{
    background:white;
    color: black;
}

button#designBtn:focus{
    background: white;
    color: black;
}

.form-group{
    width: 30%;
    overflow: hidden;
    font-size: 15px;
    padding: 8px 0;
    margin:10px;
    margin-left: 500px !important;
    border-bottom: 1px solid;
    text-align: center
    
}

.form1{
    /* width: 600px !important; */
    background-color: lightgrey;
    width: 100%;
  }
  
  .column30 {
    float: left;
    width: 30%;
    padding: 30px;
  }
  .column70{
    float: right;
    width: 70%;
    padding: 30px;
  }

  .column100{
      float: left;
      width: 100%;
      padding: 30px;
  }


  .row1:after {
    content: "";
    display: table;
    clear: both;
    
  }

  .designForFormAdd{
    background-color: lightgrey;
    transform: translate(80%, 0%);
    width: 700px !important;
    /* top: 20px !important; */
  }

  h2#info{
    font-size: 40px;
    width: 100% !important;
    text-align: center !important;
    font-family: cursive;
    margin-top: 150px ;   
}