<div id="wholePage">
    <div class="container">
        <!-- <h3>AAA: {{pm.PassangerTypeId == 1 ? Student : Pensioner}}</h3> -->
        <h1 id="headerh1">Profile information  {{typePassanger != "" ? '- You are: ' : ''}} {{typePassanger}}</h1>
        <br>
        <div class="row">
            <div class="col-75" >
                <div id="infoAboutUser">
                <h3 class="row">
                    <h3 id="forPrint" class="col-20">Full name:</h3>
                    <h3 class="col-25">{{user1.Name}} {{user1.LastName}}</h3>
                </h3>

                <h3 class="row">
                    <h3 class="col-20">Email: </h3>
                    <!-- <h3 class="col-25">{{user1?.Email}}</h3> -->
                    <h3 class="col-25">{{mejlZaShow}}</h3>
                </h3>

                <h3 class="row">
                    <h3 class="col-20">Birthday: </h3>
                    
                    <h3 class="col-25">{{rodjendan.split('-')[2] }}-{{rodjendan.split('-')[1] }}-{{rodjendan.split('-')[0] }}</h3>
                </h3>
                <h3 class="row">
                    <h3 class="col-20">Address: </h3>
                    <h3 class="col-25">{{user1?.Street}} {{user1?.Number}}, {{user1?.City}}</h3>
                </h3>
                </div>
            </div>
            <div class="col-25" *ngIf="pendingUser">
                <h3 id="imageInfo">{{typePassanger == "Student" ? "Photo index" : ''}} {{typePassanger == "Pensioner" ? "Pensioner check" : ""}}</h3>
                <img src="{{listOfImage}}" width="300" height="170" alt="">
                <div class="row">
                    <div *ngIf="studentOrPensioner" class="upload-btn-wrapper" >
                        <button class="btnForFilee">Upload file</button>
                        <input  type="file" id="btnImage"  (change)="onFileSelected($event)" *ngIf="studentOrPensioner" value=""
                        style="color:transparent;" onchange="this.style.color = 'transparent';"/>
                    </div>
                    
                    <button *ngIf="showApplyButton" class="col-25" id="btnForEdit" type="submit" class="button" class="btn btn-primary" (click)='ApplyImage()'>Apply image</button>
                </div>
            </div>
        </div>

    </div>

    <div align="center">
        <button id="btnForEdit" type="submit" class="button" class="btn" (click)='showPassword()'>Edit Password</button>
        <button id="btnForEdit" type="submit" class="button" class="btn" (click)='showEdit()'>Edit Profile</button>
        
    </div>
    <div class="form1">
        <div *ngIf="isSelectedEdit()" class="designForForm">
            <form #PomAppUserModelForm="ngForm" (ngSubmit)="onSubmit(PomAppUserModelForm.value, PomAppUserModelForm)">
                
            
                
            <div class="row1">
                    <div class="columnEmail">
                            <div class="form-group">
                                    <label for="email">Email address</label>
                                    <input required type="email" class="form-control" name="Email" placeholder="Email"  [(ngModel)]="userForEdit.Email">
                                    <!-- <div *ngIf="!validations.emailOk" style="color:red">Email can't be empty.</div>
                                    <div *ngIf="!validations.emailOk1" style="color:red">Email must have '@' character! </div> -->
                            
                            </div>
                        </div>
                    <div class="column1">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input required type="text" class="form-control" name="Name" placeholder="Name" [(ngModel)]="userForEdit.Name">
                        <!-- <div *ngIf="!validations.nameOk" style="color:red">Name can't be empty.</div> -->
                
                    </div>
                
                <div class="form-group">
                    <label for="LastName">Last Name</label>
                    <input required type="text" class="form-control" name="LastName" placeholder="LastName" [(ngModel)]="userForEdit.LastName">
                    <!-- <div *ngIf="!validations.lastNameOk" style="color:red">LastName can't be empty.</div> -->

                </div>
                <div class="form-group">
                        <label for="Birthaday">Birthaday</label>
                        <input required type="date" class="form-control" name="Birthaday" placeholder="dd/mm/yyyy" value="kk" [(ngModel)]="userForEdit.BirthdayForEdit">
                        <!-- <div *ngIf="!validations.birthadayOk" style="color:red">Birthaday can't be empty.</div> -->
                
                </div>
            </div>
            <div class="column1">

                <div class="form-group">
                    <label for="City">City</label>
                    <input required type="text" class="form-control" name="City" placeholder="City" [(ngModel)]="userForEdit.City">
                    <!-- <div *ngIf="!validations.cityOk" style="color:red">City can't be empty.</div> -->
            
                </div>

                <div class="form-group">
                    <label for="Street">Street</label>
                    <input required type="text" class="form-control" name="Street" placeholder="Street" [(ngModel)]="userForEdit.Street">
                    <!-- <div *ngIf="!validations.streetOk" style="color:red">Street can't be empty.</div> -->
            
                </div>

                <div class="form-group">
                    <label for="Number">Number</label>
                    <input required type="text" class="form-control" name="Number" placeholder="Number" [(ngModel)]="userForEdit.Number">
                    <!-- <div *ngIf="!validations.numberOk" style="color:red">Number can't be empty.</div> -->
            
                </div>
            </div>
            </div>
                
            <button type="submit" class="nav-link" class="btnEdit" id="btnForEdit11">Edit user information</button>

            </form>
        </div>
    </div>

    <div class="form1">
    <div *ngIf="isSelectedPassword()" class="designForFormPassword">
        <div class="row1">
        <form #PomModelForPassword="ngForm" (ngSubmit)="onSubmitPassword(PomModelForPassword.value, PomModelForPassword)">
            <div class="column1">
            <div class="form-group">
                <label for="OldPassword">Old Password</label>
                <input required type="password" class="form-control" name="OldPassword" placeholder="Password" ngModel>
                <!--validationsForPass-->
                <!-- <div *ngIf="!validationsForPass.oldPasswordOk" style="color:red">Old password can't be empty.</div> -->
        
            </div>

            <div class="form-group">
                <label for="NewPassword">New Password</label>
                <input required type="password" class="form-control" name="NewPassword" placeholder="Password" ngModel>
                <!-- <div *ngIf="!validationsForPass.newPasswordOk" style="color:red">New password can't be empty.</div> -->
        
            </div> 
                
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input required type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm Password" ngModel>
                <!-- <div *ngIf="!validationsForPass.confirmPasswordOk" style="color:red">Confirm password can't be empty.</div> -->
        
            </div>

            <button type="submit" class="nav-link" class="btn" id="btnForEditPassword">Change password</button>
        </div>
        </form>
    </div>
    </div>
    </div>
</div>