div#wholePage{
    width: 100%;
    
    margin-top: 245px !important;
    padding: 11px !important;
    
    background-color:lightgray !important;
    /* height: 800px !important; */
    /* overflow-y: hidden; */
    height: 500px;
    
}

h1#headerh1{
    font-size: 40px;
    width: 100%;
    text-align: center;
    font-family: cursive;
    
    
}


h1#headerh1:hover{
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-color: white;
    font-family: cursive;
}

.column {
    float: left;
    width: 50%;
    padding: 80px;
    
  }

 .col-25 {
    float: left;
    width: 25%;
    margin-top: 4px; /*12px*/
  }
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .col-20{
      float: left;
      width: 20%;
      margin-top: 4px;
  }

  h3#imageInfo{
      font-size: 25px;
      margin-left: 20%;
      width: 100%;
      
  }

  div#btnImage{
    margin-left: 20% !important;
    /* background-color: #ffff66; */

    color:transparent
  }

button#btnForEdit{
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button#btnForEdit11{
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 35% !important;
  /* margin-right: 50% !important; */

}

button#btnForEditPassword{
  background-color: #555555; /* Black */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 3% !important;
  /* margin-right: 50% !important; */
  width: 100% !important;
}

.btnEdit{
  margin-left: 50%;
}

/*for edit profile*/
.container h1{
    float:center;
    font-size: 40px;
    border-bottom: 6px solid;
    margin-bottom: 0px;
    padding: 8px 0;
    /* text-align: center; */
}

.form-group{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:10px;
    border-bottom: 1px solid;
    text-align: center
    
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}



.btnForFilee {
  border: none;
  color: white;
  background-color: #555555;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.designForForm{
  background-color: lightgrey;
  transform: translate(50%, 0%);
  width: 700px !important
}

.designForFormPassword{
  background-color: lightgrey;
  transform: translate(80%, 0%);
  width: 700px !important
}

.form1{
  /* width: 600px !important; */
  background-color: lightgrey;
  width: 100%;
}

.column1 {
  float: left;
  width: 50%;
  padding: 30px;
  
}

.row1:after {
  content: "";
  display: table;
  clear: both;
  
}

.columnEmail{
  float: left;
  width: 100%;
  padding: 10px;
}
