<div id="wholePage">
    <div>
       
      <div>
        <p id="busLineGrid">BUS LINE GRID SYSTEM</p> 
        <h4 id="infoh4">You can choose one or more lines by pressing checkbox</h4>
      </div>

      <table id="table1">
          <tr>
            <div class="funkyradio-danger"  >
              <th *ngFor="let line of lines">
                
                <input class="button" class="btn" type="checkbox" value = "{{line._id}}" (click)="ShowCheckedLine($event)"/>
                <label for="line{{line.regularNumber}}"> {{line.regularNumber}}</label>
              </th>
            </div>
          </tr>
        </table>

      </div>
      


      <!-- <div class="mapa"  style="width:80%; height: 50%; margin: 5% 25%"> -->
   
    <div id="mapa">
      
      <agm-map  [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18">
          <agm-marker *ngFor="let station of stations" [latitude]="station.latitude" [longitude]="station.longitude" [title]="station.name"
          [label]="" [iconUrl]="iconPath">
  
            <!-- Svakom markeru dodajemo info-window (Nije obavezno!) -->
            <agm-info-window [latitude]="station.Latitude" [longitude]="station.Longitude" >
              <span style="font-family:'Times New Roman'; color:gray;"><strong>Station name:{{station.name}}</strong></span><br>
              <span style="font-family:'Times New Roman'; color:gray;"><strong>Station address:{{station.addressStation}}</strong></span>
              <!-- <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span> -->
              <!-- <a [href]="markerInfo.link">See the site.</a> -->
            </agm-info-window>
        </agm-marker>

            
             

          <div *ngFor="let ls of listOfCheckedLines, let i = index">
            <div *ngFor="let dir of ls.ListOfStations, let j= index">
            <agm-direction  *ngIf = "ls.ListOfStations[j+1]"
              [renderOptions] = "{polylineOptions: {strokeColor: ls.ColorLine}, suppressMarkers: true}"
              [origin] = "{lat: ls.ListOfStations[j].latitude, lng: ls.ListOfStations[j].longitude}"
              [destination] = "{lat: ls.ListOfStations[j+1].latitude, lng: ls.ListOfStations[j+1].longitude}">
              
            </agm-direction>
          </div>
      </div>

          
      </agm-map>
      </div>      

<br><br>
</div>

