div#wholePage{
    width: 100%;
    
    margin-top: 260px !important;
    padding: 11px !important;
    
    background-color:lightgray !important;
    height: 470px !important;

   
}

h2#info{
  font-size: 40px;
  width: 100% !important;
  text-align: center !important;
  font-family: cursive;
  margin-top: 30px ;   
}

h2#info:hover{
  width: 100%;
  background-color: gray;
  color: white;
  text-align: center;
  border-color: white;
  font-family: cursive;
}


button#designBtn{
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 0%;
}

button#designBtn:active{
    background:white;
    color: black;
}

button#designBtn:focus{
    background: white;
    color: black;
}

.form-group{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:10px;
    border-bottom: 1px solid;
    text-align: center
    
}

.form1{
    /* width: 600px !important; */
    background-color: lightgrey;
    width: 100%;
  }
  
  .column1 {
    float: left;
    width: 50%;
    padding: 30px;
    
  }

  .column33 {
    float: left;
    width: 100%;
    padding: 5px;
    
  }

  .columnShow50{
    float: left;
    width: 50%;
    padding: 15px;
  }

  
  
  .row1:after {
    content: "";
    display: table;
    clear: both;
    
  }

  .designForFormAdd{
    background-color: lightgrey;
    transform: translate(80%, 0%);
    width: 700px !important;
  }

  .designForFormShow{
    background-color: lightgrey;
    transform: translate(45%, 0%);
    width: 800px !important;
  }

  .marginForAddButton{
      margin-left: 22% !important;
  }

  .marginForAddButton1{
    margin-left: 22% !important;
    margin-bottom: 20% !important;
}

  .marginForEditButton{
    margin-left: 25% !important;
  }

  h4#infoh4{
    /* text-align: left; */
    /* border-bottom: 1px solid;
    border-bottom-width: 50%; */
    /* text-align: center;*/
    font-size: 20px;
    width: 100%;
    /* margin-top: 60px !important;     */
    margin: 10px !important;
    padding: 14px 0;
    font-weight: normal !important;
    background: lightgray;
    color: black;
}

h4#infoh4:hover{
  
  width: 100%;
  background-color: gray;
  color: black;
  text-align: center;
  border-color: black;
  font-family: cursive;
}

/*

    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:10px;
    border-bottom: 1px solid;
    text-align: center
*/

p#infop{
  text-align: left;
  font-size: 20px;
  width: 100%;
  /* margin-top: 0px; */
  margin-top: 10px !important;
  
}