<div id="wholePage">
<!-- <h2 *ngIf="NonActiveAdmin()" id="info">You are not authorized for add/edit/delete lines! Your request is processed!  You can only see the departures for the selected day!</h2>
<h2 *ngIf="DeniedAdmin()" id="info">You are not authorized for add/edit/delete lines! Your request is denied! You can only see the departures for the selected day</h2> -->


<div *ngIf = "LoggedAdmin()">    
    <div align="center">
      <button type="submit" class="button" class="btn" id="designBtn" (click)='showTimeT()'>Show timetable</button>
      <button type="submit" class="button" class="btn" id="designBtn" (click)='showAdd()' >Add timetable</button> 
      <button type="submit" class="button" class="btn" id="designBtn" (click)='showEdit()' >Edit timetable</button>  
      <button type="submit" class="button" class="btn" id="designBtn" (click)='showDelete()'>Delete timetable</button>  
    </div>
  
    <div class="form1">
    <div *ngIf="isSelectedAdd()" class="designForFormAdd">  
      <div class="row1">
      <form #timetableForm="ngForm" (ngSubmit)="onSubmit(timetableForm.value, timetableForm)">
        <div class="column1">
        <div class="form-group" >
          <label for="DayId">Day type</label>
          <select  name="DayId" class="form-group"   class="form-control" ngModel>
            <option disabled >Please select...</option>
            <option *ngFor="let day of allDaysFromDb" value="{{day._id}}">{{day.name}}</option>
            
          </select>
          <div *ngIf="!validationsForAdd.dayIdOk" style="color:red">Please select day type.</div>
        
        </div>
        <div class="form-group" >
        <label for="LineId">Select line </label>
        <select name="LineId"  class="form-control" ngModel>
        <option disabled>Please select...</option>
        <option *ngFor="let line of allLinesFromDb" value={{line._id}}>{{line.regularNumber}}</option>
        </select>
        <div *ngIf="!validationsForAdd.lineIdOk" style="color:red">Please select line number.</div>
        </div>
        <div class="form-group" >
          <label for="Departures" >Select time</label>
          <input type="time" name="Departures" class="form-control" (click)='addTimeToDepartures($event)'  ngModel>    
          <div *ngIf="!validationsForAdd.departuresOk" style="color:red">Departure can't be empty!</div>
        </div>

        <div class="form-group" >
          <label for="VehicleId">Select vehicle </label>
          <select name="VehicleId"  class="form-control" ngModel>
          <option disabled>Please select...</option>
          <option *ngFor="let v of allVehicleFromDb" value={{v._id}}>{{v.vehicleType}}|{{v._id}}</option>
          </select>
          </div>
 

        <!-- <button class="nav-link" class="btn" id="designBtn" class="marginForAddButton1" (click)='addToArray()'>Add departures</button> -->
      
        <!-- <h3>Select the departure you want to delete</h3>

        <button class="nav-link" class="btn" id="designBtn" class="marginForAddButton1" *ngFor='let dep of arrayForShowDepartures'>{{dep}}</button>
        &nbsp;&nbsp;&nbsp; -->

        <button type="submit" class="nav-link" class="btn" id="designBtn" class="marginForAddButton">Add timetable</button>
      </div>
      </form> 
    </div>
    </div>
  </div>
  <div class="form1">
    <div *ngIf="isSelectedDelete()" class="designForFormAdd">
      <div class="row1">
      <form #timetableForm="ngForm" (ngSubmit)="onSubmitDelete(timetableForm.value, timetableForm)">
        <div class="column1">
        <div class="form-group" >
          <label for="DayId">Day type</label>
          <select name="DayId" class="form-group"  class="form-control" (click)="getLineForEdit($event)" ngModel>
            <option disabled>Please select...</option>
            <option *ngFor="let day of allDaysFromDb" value="{{day._id}}">{{day.name}}</option>
          </select>
          <!--validationsForDelete-->
          <div *ngIf="!validationsForDelete.dayIdOk" style="color:red">Please select day type!</div>
        
        </div>
  
        <div class="form-group">
        <label for="LineId">Select line: </label>
        <select name="LineId"  class="form-control"  ngModel>
          <option disabled>Please select...</option>
          <option *ngFor="let line of allLineForSelDay" value={{line}}>{{line}}</option>
        </select>
        <div *ngIf="!validationsForDelete.lineIdOk" style="color:red">Please select line number!</div>
      </div>

        <button type="submit"  class="btn" id="designBtn" class="marginForAddButton">Delete timetable</button>
      </div>
      </form>
      </div>
    </div>
  </div>
  
  <div class="form1">
    <div *ngIf="isSelectedEdit()" class="designForFormAdd">
      <div class="row1">
        <form #timetableForm="ngForm" (ngSubmit)="onSubmitEdit(timetableForm.value, timetableForm)">
          <div class="column1">  
          <div class="form-group">
              <label for="DayId">Select day type</label>
          <select name="DayId" class="form-group"  class="form-control" (click)="getLineForEdit($event)" ngModel>
            <option disabled>Please select...</option>
            <option *ngFor="let day of allDaysFromDb" value="{{day._id}}">{{day.name}}</option>
          </select>
          <div *ngIf="!validationsForEdit.dayIdOk" style="color:red">Please select day type.</div>
        
          </div>
        
  
        <div *ngIf="showLineComboBox" class="form-group">
        <label for="LineId">Select line </label>
        <select name="LineId"  class="form-control" (click)="getDeparturesForEditt($event)" ngModel>
          <option disabled>Please select...</option>
          <option *ngFor="let line of allLineForSelDay" value={{line}}>{{line}}</option>
        </select>
        <div *ngIf="!validationsForEdit.lineIdOk" style="color:red">Please select line number.</div>
        
        </div>
  
        
        <div *ngIf="showDepartureComboBox" class="form-group">
          <label for="Departures">Select departure </label>
          <select name="Departures"  class="form-control" (click) = "setNewDepartures($event)" ngModel>
            <option disabled>Please select...</option>
            <option *ngFor="let line of allDeparturesForSelect" value={{line}}>{{line}}</option>
          </select>
          <div *ngIf="!validationsForEdit.departuresOk" style="color:red">Please select departure.</div>
        
          
          </div>

          
  
          <div *ngIf="boolForButton" class="row1">
            <div class="column33">
          <button *ngIf="hiddenDeleteButton" type="button" class="nav-link" class="btn" id="designBtnForAcc"  (click)="editTime()">Edit time</button> &nbsp;
          <button *ngIf = "hiddenEditButton" type="button" class="nav-link" class="btn" id="designBtnForAcc"  (click)="deleteTime()">Delete time</button>
        </div>
            </div>
  
        <div *ngIf="showInputTime" class="form-group">
          <br><label for="NewDepartures" >Select time</label>
          <input type="time" name="NewDepartures"  value="{{departuresForEditInput}}" class="form-control" ngModel><br>
          <div *ngIf="!validationsForEdit.newDeparturesOk" style="color:red">New departure can't be empty.</div>
          <div *ngIf="!validForNewD.newDepaturesOk" style="color:red">New departure can't be empty.</div>
        
        </div>
  
        <div *ngIf="editSubmitBool">
        <button type="submit"  class="btn" id="designBtn" class="marginForEditButton">Save changes</button>
        </div>
       
      </div> 
      </form>
    </div>
    </div>
  </div>
  </div>
  

  <!--Ovaj dio vide SVI cak i neautorizovani admini-->
  <div class="form1">
  <div *ngIf="(!isSelectedAdd() && !isSelectedDelete() && !isSelectedEdit() && isSelectedShow()) || !LoggedAdmin()" 
  class="designForFormShow">  
    <div class="row1">
      <div class="columnShow50">
    <div class="form-group">    
    <label for="DayId">Day type</label>
    <select name="DayId" class="form-group"  class="form-control" (click)="getLineForEdit($event)">
      <option disabled>Please select</option>
      <option *ngFor="let day of allDaysFromDb" value="{{day._id}}">{{day.name}}</option>
    </select>
      <!-- <div *ngIf="!validations.dayTypeOk" style="color:red">Day type can't be empty.</div> -->
    </div>  
    
  
    <div *ngIf="showLineCbForUnlogedUser">
      <div class="form-group">
      <label for="LineId">Select line: </label>
      <select name="LineId"  class="form-control" (click)="getDeparturesForEditt($event)">
        <option disabled>Please select</option>
        <option *ngFor="let line of allLineForSelDay" value={{line}}>{{line}}</option>
      </select>
      <!-- <div *ngIf="!validations.selectedLineOk" style="color:red">Line  can't be empty.</div> -->
    </div>   

      </div>
  
      <br>
      <!--Prikazi polaske i za neregistrovanog korisnika i za ostale-->
      <button *ngIf = "showDepartureComboBox" type="button" class="nav-link" class="btn" (click)="showDepartureOnClick()" 
      id="designBtn" class="marginForAddButton11">Show departures</button> 
      </div>
      <div class = "columnShow50">
      <div *ngIf="showDepForUnregisterUser">
        <h4 id="infoh4">
        <!-- <label >Departures for {{selectedDayForEdit}} on Line: {{pom}}:</label> -->
        <label>{{allDeparturesForSelect.length != 0 ? 'Departures for ' + selectedDayForEdit + " " : 
          'No departures for ' + selectedDayForEdit +' '}} {{pom != "Please select" && pom != "" ? "on Line: " + pom : ""}}  </label>
        
        
        <p *ngFor="let line of allDeparturesForSelect; index as i" id="infop">{{i+1}}.  {{line}}</p>
      </h4>
      </div>
      </div>
      </div>
  </div>
</div>
</div>