div#wholePage{
    width: 100%;
    
    margin-top: 260px !important;
    padding: 11px !important;
    
    background-color:lightgray !important;
    height: 100% !important; /*500px*/
}

button#designBtn{
    /* background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 45px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0% !important;
    width: 300px !important;
    margin-bottom: 20% !important; */



    padding: 15px 45px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0% !important;
    width: 300px !important;
    margin-bottom: 20% !important;

    background: #555555 linear-gradient(to bottom, transparent, #A9A9A9);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 22px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 15px;
    text-decoration: none;
    
}

button#designBtn2{
    background-color: #555555; /* Black */
    border: none;
    color: white;
    padding: 15px 10px; /*32*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    margin: 2px 2px;
    cursor: pointer;
    margin-right: 18%;
    margin-top: 0% !important;
    width: 200px !important;
    margin-bottom: 5% !important;
    
}

button#designBtn1{
    /* background-color: #555555; 
    border: none;
    color: white;
    padding: 15px 45px; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 2px 2px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 0% !important;
    width: 80px !important;
    margin-bottom: 2% !important; */
    
    

    background: #555555 linear-gradient(to bottom, transparent, #A9A9A9);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 15px;
    text-decoration: none;
    
    
    
    
}

button#designBtn:active{
    background:white;
    color: black;
}

button#designBtn:focus{
    background: white;
    color: black;
}

h2#info{
    font-size: 40px;
    width: 100% !important;
    text-align: center !important;
    font-family: cursive;
    margin-top: 150px ;   
}

h2#info:hover{
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-color: white;
    font-family: cursive;
}

h5#info{
    font-size: 25px;
    width: 100% !important;
    text-align: center !important;
    font-family: cursive;
    margin-top: 10px ;   
}

h5#info:hover{
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    border-color: white;
    font-family: cursive;
}

.form-group{ 
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin:10px;
    border-bottom: 1px solid !important;
    text-align: center !important;
}

.form-control{
    display: inline;
}

.form-group#idd{
    width: 44%;
    float: left;
}
.form-group#iddRight{
    width: 40%;
    float: right;
}

.column30 {
    float: left;
    width: 30%;
    padding: 30px;
  }
  .column70{
    float: right;
    width: 70%;
    padding: 30px;
  }

  .column100{
      float: left;
      width: 100%;
      padding: 30px;
  }

  .column50{
      float: left;
      width: 50%;
      padding: 15px !important;
      padding-left: 30px !important;
  }

  .column50Text{
    float: left;
    width: 50%;
    padding: 5px !important;
  }


  .row1:after {
    content: "";
    display: table;
    clear: both;
    
  }

  button#designBtnForAction{
    
    background: #555555 linear-gradient(to bottom, transparent, #A9A9A9);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 15px;
    text-decoration: none;
    
    
}


.marginForTable{
    margin-left: 20% !important;
}



.trHeader {
  background-color: #1F2739;
  color: white;
}

.container td:first-child { color: #FB667A; }

trClass{
  background-color: #F5F5F5;
  color: white;
}

.trClass:hover {
background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119; /*0E1119*/
   -moz-box-shadow: 0 6px 6px -6px #0E1119;
        box-shadow: 0 6px 6px -6px #0E1119;
}

td{   
  padding: 10px;
  /* align: center !important; */
  text-align: center; 
  vertical-align: middle;
}

td:hover {
background-color: #FFF842;
color: #403E10;
font-weight: bold;
}

.backk{
    background-color: lightgray !important;
}

form {
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(to bottom, #CCCCCC, #EEEEEE, 175px);
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: bold;
    color: #555555; /*#09C;*/
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-right: 25px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  select, textarea{
    background-color: #ededed; 
  }

  input[type="text"], textarea {

    background-color: #ededed; 
    /* border: 1px solid #3f3f3f; */
  
  }

  input[type="button"]{
    background: #555555 linear-gradient(to bottom, transparent, #A9A9A9);
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    padding: 15px 15px;
    text-decoration: none;
  }

  div#bzv{
    background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    background: linear-gradient(to bottom, #CCCCCC, #EEEEEE, 175px);
    margin: auto;
    position: relative;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 24px;
    font-weight: bold;
    color: #555555; /*#09C;*/
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-right: 25px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  