<div id="wholePage">
<!-- <h2 *ngIf="NonActiveAdmin()" id="info">You are not authorized for add/edit/delete lines! Your request is processed! </h2>
<h2 *ngIf="DeniedAdmin()" id="info">You are not authorized for add/edit/delete lines! Your request is denied!</h2> -->


<!-- <div *ngIf="LoggedAdmin()" class="row1" class="backk"> -->
<div class="row1" class="backk">
  <div class="column70">
    <agm-map  [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18">
        <agm-marker *ngFor="let station of stations" [latitude]="station.latitude" [longitude]="station.longitude" [title]="station.name"
        [label]="" [iconUrl]="iconPath" (markerClick) = "stationClick(station._id)">

          <!-- Svakom markeru dodajemo info-window (Nije obavezno!) -->
          <agm-info-window [latitude]="station.latitude" [longitude]="station.longitude" >
            <span style="font-family:'Times New Roman'; color:gray;"><strong>Station name:{{station.Name}}</strong></span><br>
            <span style="font-family:'Times New Roman'; color:gray;"><strong>Station address:{{station.AddressStation}}</strong></span>
            <!-- <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span> -->
            <!-- <a [href]="markerInfo.link">See the site.</a> -->
          </agm-info-window>
      </agm-marker>

      <agm-polyline [strokeColor]="polyline.color">
          <agm-polyline-point *ngFor="let point of polyline.path" [latitude]="point.latitude" [longitude]="point.longitude">
          </agm-polyline-point>
      </agm-polyline>

      <!-- crta sve stanice i linije -->
      <div *ngIf="!isSelectedDelete() && !isSelectedEdit()">
        <!-- <div *ngFor = "let key of keys"> -->
          <!-- <div *ngFor="let ls of pomModelList, let i = index">
          <agm-polyline  [strokeColor]="'red'">
            <agm-polyline-point *ngFor="let station of ls.List" [latitude]="station.Latitude" [longitude]="station.Longitude">
            </agm-polyline-point>
          </agm-polyline>
          
      </div> -->

      <!--Dodato-->
      <div *ngIf="isSelectedAdd()">
          <div  *ngFor="let dire of polyline.path, let j = index">
            <agm-direction 
            [renderOptions] = "{polylineOptions: {strokeColor: polyline.color}, suppressMarkers: true,  preserveViewport: true}"
             *ngIf="polyline.path[j+1]"  
            [origin]="{ lat: polyline.path[j].latitude, lng: polyline.path[j].longitude }" 
            [destination]="{ lat: polyline.path[j+1].latitude, lng: polyline.path[j+1].longitude }">
              
              </agm-direction>
        </div>
        </div>



      <!-- <div *ngFor="let ls of pomModelList, let i = index">
          <div *ngFor="let dir of ls.List, let j= index">
          <agm-direction  *ngIf = "ls.List[j+1]"
            [renderOptions] = "{polylineOptions: {strokeColor: listOfColors[i]}, suppressMarkers: true}"
            [origin] = "{lat: ls.List[j].Latitude, lng: ls.List[j].Longitude}"
            [destination] = "{lat: ls.List[j+1].Latitude, lng: ls.List[j+1].Longitude}">
             <agm-polyline-point *ngFor="let station of ls.List" [latitude]="station.Latitude" [longitude]="station.Longitude">
            </agm-polyline-point> -->
          <!-- </agm-direction>
        </div>
    </div>  -->



      </div>

      <div *ngIf="isSelectedDelete()">  <!--ovdje iscrtati  selektovanu liniji -->
        <!-- <agm-polyline  [strokeColor]="'red'">
          <agm-polyline-point *ngFor="let station of orderedStation" [latitude]="station.Latitude" [longitude]="station.Longitude">
          </agm-polyline-point>
        </agm-polyline> -->

        <div > 
            <div *ngFor="let ls of orderedStation, let j= index">
            <agm-direction *ngIf="orderedStation[j+1]" 
              [renderOptions] = "{polylineOptions: {strokeColor: listOfColors[j]}, suppressMarkers: true}"
              [origin] = "{lat: ls.Latitude, lng: ls.Longitude}"
              [destination] = "{lat: orderedStation[j + 1].Latitude, lng: orderedStation[ j + 1].Longitude}">

            </agm-direction>
          </div>
      </div>  


      </div>

      <!-- zaEditovvanje -->
      <div *ngIf = "isSelectedEdit()">  <!--ovdje iscrtati  selektovanu liniji -->
        <!-- <agm-polyline  [strokeColor]="'red'">
          <agm-polyline-point *ngFor="let station of orderedStationEdit" [latitude]="station.Latitude" [longitude]="station.Longitude">
          </agm-polyline-point>
        </agm-polyline> -->
        <div *ngFor="let ls of orderedStationEdit, let j= index">
            <agm-direction *ngIf="orderedStationEdit[j+1]" 
              [renderOptions] = "{polylineOptions: {strokeColor: listOfColors[j]}, suppressMarkers: true}"
              [origin] = "{lat: ls.Latitude, lng: ls.Longitude}"
              [destination] = "{lat: orderedStationEdit[j + 1].Latitude, lng: orderedStationEdit[ j + 1].Longitude}">

            </agm-direction>
          </div>


      </div>

      </agm-map>
    </div>

  <div class="column30">  
  <div align="center" class="row1">
    <div class="column100" *ngIf="sakrijDugmice">
      <button type="submit" class="button" class="btn" (click)='showAdd()' id="designBtn">Add line</button>
      <button type="submit" class="button" class="btn" (click)='showEdit()'id="designBtn" >Edit line</button>
      <button type="submit" class="button" class="btn" (click)='showDelete()' id="designBtn">Delete line</button>
      <!-- <button type="submit" align="right" class="button" class="btn btn-primary" (click)='refresh()'>Refresh</button> -->
    </div>
  </div>

  <!-- Kreiranje mape -->
  <!-- <div style="width:50%; height: 50%; margin: 5% 25%"> -->
      
  <!-- </div> -->

  <div *ngIf="isSelectedAdd()">
      <!-- <h3>Add line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmit(lineForm.value, lineForm)">
          <div class="form-group">
              <div *ngIf="!validationsForAdd.listOfStationsOk" style="color:red">please select at least two stations, otherwise you will not be able to add a line</div>
              <br><br>  

            <label for="RegularNumber">Regular Number</label>
            <input required type="number" class="form-control" name="RegularNumber" value="{{regularNumber}}" ngModel>
            <div *ngIf="!validationsForAdd.regularLineOk" style="color:red">Line number can't be empty.</div>
            <div *ngIf="!validationsForAdd.regularLineOk0" style="color:red">Line number  must not be zero.</div>
            <div *ngIf="!validationsForAdd.regularLineOkMinus" style="color:red">Line number must not be less than zero.</div>
        

          </div> <br>
          <div align="center">
              <button type="submit" class="button" class="btn" id="designBtnForAction">Add line</button>
          </div>
        
      </form>

      <!-- <div>
          <label for="Stations">Selected stations:</label>
          <div *ngFor="let station of selectedStations">
              <label><b>{{station.Name}}</b></label><br/>
              <label>{{station.AddressStation}}</label><br/><br/>
          </div>
      </div> -->
  </div>

  <div *ngIf="isSelectedEdit()" class="backk">

              <label for="RegularNumber">Select line: </label>
              <select name="RegularNumber" (click)='showLinesForChange($event)' class="form-control" ngModel>
                <option disabled>Please select...</option>
                <option *ngFor="let line of allLinesForEditFromDb" value={{line.RegularNumber}}>{{line.RegularNumber}}</option>
              </select>
              <br>
              <!-- <label *ngIf="showListOfStations">ListOfStations</label> -->
              <table border="1">
              <div *ngFor="let station of sLineForEdit?.ListOfStations">
                <tr>
                  <td>
                <label>Name: {{station.Name}}</label>
                <label>Address: {{station.AddressStation}}</label>
              </td>
            </tr>
            </div>
            </table>
            <div class ="row1">
            <h5 *ngIf="showListOfStations" id="info" class="column50Text">Click on station that you want to delete:</h5>
            <div *ngFor="let station of sLineForEdit?.ListOfStations" class="class-form" class="column50">
                
               <button type="submit" class="button" class="btn" clas="form-group" 
                (click)='removeStationFromLine(station.Id)' id="designBtn1">{{station.Name}}</button>
            </div>
          </div>
            <br>
            
              
            <div align="center" *ngIf="showListOfStations">
              <button type="submit" class="button" class="btn btn-primary"  (click)="showComboBox()" id="designBtn2">Add new station</button> <br/><br>
            </div>
            

            <div *ngIf = "showComboBoxForAddSt" class="form-group">

              <label for="Name">Select station for adding: </label>
                <select name="Name"  class="form-control" (click)='sendIdOfStation($event)'  ngModel>
                  <option disabled>Please select...</option>
                  <option *ngFor="let station of restStation" value={{station.Id}}>{{station.Name}}</option>
                </select>
                <!--validationsForEdit-->
                <div *ngIf="!validationsForEdit.idAddedOk" style="color:red">Station can't be empty.</div>
            
            </div>
            <br>
            <div *ngIf = "showComboBoxForAddSt2" class="form-group">
                <label for="NumberStation">Select positon for new station </label>
                <select name="NumberStation" class="form-control" (click)='showAddButton($event)' ngModel>
                  <option disabled>Please select...</option>
                  <option *ngFor="let i of arrayIntForAddStation" value={{i}}>{{i}}</option>
                </select>
                <div *ngIf="!validationsForEdit.addStationPositionOk" style="color:red">Position can't be empty.</div>
            
            </div>
            <br><br>
            <div *ngIf = "showAddButtonBool">
              <button type="submit" class="button" (click)="finallyAdd()"  class="btn" id="designBtn2">Add Station</button><br><br>
            </div>


      <button *ngIf="showListOfStations" type="submit" class="button" class="btn" 
      (click) = "onSubmitEdit()" align="center" id="designBtnForAction">Save changes</button>
      

      <!-- <h3>Edit line</h3> -->
  </div>

  <div *ngIf="isSelectedDelete()">
      <!-- <h3>Delete line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmitDelete(lineForm.value, lineForm)">
          <div class="form-group">

              <label for="RegularNumber">Select line: </label>
              <select name="RegularNumber" (click)='showLines($event)' class="form-control" ngModel>
                <option disabled>Please select...</option>
                <option *ngFor="let line of linesForComboBox" value={{line.RegularNumber}}>{{line.RegularNumber}}</option>
                <!-- <option value="Controller" >Controller</option>
                <option value="AppUser" >Passanger</option> -->
              </select>
              <div *ngIf="!validationsForAdd.regularLineOk" style="color:red">Please select regular number!</div>
        
            </div><br>
              <div align="center">
                  <button type="submit" class="button" class="btn" id="designBtnForAction">Delete line</button>
              </div>
          
      </form>
  </div>
</div>
</div>
</div>
