<div id="wholePage">
<h2 *ngIf="NonActiveAdmin()" id="info">You are not authorized for add/edit/delete lines! Your request is processed! </h2>
<h2 *ngIf="DeniedAdmin()" id="info">You are not authorized for add/edit/delete lines! Your request is denied!</h2>

<div *ngIf="NonActiveAdmin() || DeniedAdmin()">
  <br><br><br><br><br><br><br><br><br><br><br>
</div>


<div *ngIf="LoggedAdmin()" class="row1" class="backk">
<div class="row1">
  <div class="column70">
    <agm-map  [latitude]="markerInfo.location.latitude" [longitude]="markerInfo.location.longitude" [zoom]="18">
        <agm-marker *ngFor="let station of stations" [latitude]="station.latitude" [longitude]="station.longitude" [title]="station.name"
        [label]="" [iconUrl]="iconPath" (markerClick) = "stationClick(station._id)">

          <!-- Svakom markeru dodajemo info-window (Nije obavezno!) -->
          <agm-info-window [latitude]="station.latitude" [longitude]="station.longitude" >
            <span style="font-family:'Times New Roman'; color:gray;"><strong>Station name:{{station.name}}</strong></span><br>
            <span style="font-family:'Times New Roman'; color:gray;"><strong>Station address:{{station.address}}</strong></span>
            <!-- <span style="font-family:'Times New Roman'; color:gray;">Bulevar oslobođenja 131</span> -->
            <!-- <a [href]="markerInfo.link">See the site.</a> -->
          </agm-info-window>
      </agm-marker>
      <!-- crta sve stanice i linije -->
      <div *ngIf="!isSelectedDelete() && !isSelectedEdit()">

      <!--Dodato-->
      <div *ngIf="isSelectedAdd()">
          <div  *ngFor="let dire of polyline.path, let j = index">
            <agm-direction 
            [renderOptions] = "{polylineOptions: {strokeColor: polyline.color}, suppressMarkers: true,  preserveViewport: true}"
             *ngIf="polyline.path[j+1]"  
            [origin]="{ lat: polyline.path[j].latitude, lng: polyline.path[j].longitude }" 
            [destination]="{ lat: polyline.path[j+1].latitude, lng: polyline.path[j+1].longitude }">
              
              </agm-direction>
        </div>
        </div>



      </div>

      <div *ngIf="isSelectedDelete()">  
        <div > 
            <div *ngFor="let ls of sl.ListOfStations, let j= index">
                <agm-direction *ngIf="sl.ListOfStations[j+1]" 
                  [renderOptions] = "{polylineOptions: {strokeColor: sl.colorLine}, suppressMarkers: true}"
                  [origin] = "{lat: ls.Latitude, lng: ls.Longitude}"
                  [destination] = "{lat:  sl.ListOfStations[j + 1].Latitude, lng:  sl.ListOfStations[ j + 1].Longitude}">
                </agm-direction> 
              </div>
      </div>  

      </div>

      <!-- zaEditovvanje -->
      <div *ngIf = "isSelectedEdit()">  <!--ovdje iscrtati  selektovanu liniji -->
       
        <div *ngFor="let ls of sl.ListOfStations, let j= index">
            <agm-direction *ngIf="sl.ListOfStations[j+1]" 
              [renderOptions] = "{polylineOptions: {strokeColor: sl.colorLine}, suppressMarkers: true}"
              [origin] = "{lat: ls.Latitude, lng: ls.Longitude}"
              [destination] = "{lat:  sl.ListOfStations[j + 1].Latitude, lng:  sl.ListOfStations[ j + 1].Longitude}">

            </agm-direction> 
          </div>


      </div>

      </agm-map>
    </div>

  <div class="column30">  
  <div align="center" class="row1">
    <div class="column100" *ngIf="sakrijDugmice">
      <button type="submit" class="button" class="btn" (click)='showAdd()' id="designBtn">Add line</button>
      <button type="submit" class="button" class="btn" (click)='showEdit()'id="designBtn" >Edit line</button>
      <button type="submit" class="button" class="btn" (click)='showDelete()' id="designBtn">Delete line</button>
      <!-- <button type="submit" align="right" class="button" class="btn btn-primary" (click)='refresh()'>Refresh</button> -->
    </div>
  </div>

  <!-- Kreiranje mape -->
  <!-- <div style="width:50%; height: 50%; margin: 5% 25%"> -->
      
  <!-- </div> -->

  <div *ngIf="isSelectedAdd()">
      <!-- <h3>Add line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmit(lineForm.value, lineForm)">
        <h4 align="center">Add line</h4>  
        <div class="form-group">
              <!-- <div *ngIf="!validationsForAdd.listOfStationsOk" style="color:red">please select at least two stations, otherwise you will not be able to add a line</div> -->
              <br><br>  

            <label for="RegularNumber">Line number</label>
            <input required type="text" class="form-control" name="RegularNumber" value="{{regularNumber}}" ngModel>

            
          </div> 
          <div class="form-group">
            <label>Color: </label><br>
            <input  type="color" name="ColorLine" value="#ff0000" ngModel>
          </div>
            
         
          <div align="center">
              <button type="submit" class="button" class="btn" id="designBtnForAction">Add line</button> &nbsp;&nbsp;&nbsp;
              <input  type="button" class="btn"  id="designBtnForAction" value="Cancel" (click)="refreshPage()">
            
          </div>
        
      </form>

  </div>

  <div *ngIf="isSelectedEdit()" class="backk">
          <div id="bzv" align="center">
              <label for="RegularNumber">Select line: </label>
              <select name="RegularNumber" (click)='showLinesForChange($event)' class="form-control" ngModel>
                <option disabled>Please select...</option>
                <option *ngFor="let line of allLinesForEditFromDb" value={{line.regularNumber}}>{{line.regularNumber}}</option>
              </select>
              
            <br>
            
            <h6 *ngIf="showListOfStations">Click on station that you want to delete:</h6>
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
            <div class="w3-container"> 
            <div *ngFor="let station of sLineForEdit?.ListOfStations" class="w3-show-inline-block" >
              <div class="w3-bar">
               <button type="submit" class="btn" class="form-group" (click)='removeStationFromLine(station.Id)' id="designBtn1" class="w3-btn w3-black">{{station.Name}}</button> &nbsp;&nbsp; <!--designBtn1-->
              </div>   
          </div>
          </div>
            
            <h6 *ngIf="showListOfStations">or</h6>
              
            <div align="center" *ngIf="showListOfStations">
              <button type="submit" class="button" class="btn btn-primary"  (click)="showComboBox()" id="designBtn1">Add new station</button>
            </div> <!--u showCombobox() se samo promjenjiva showComboBoxForAddSt = true-->
          

            <div *ngIf = "showComboBoxForAddSt" class="form-group" id="idd">

              <label for="Name">Station: </label>
                <select name="Name"  class="form-control" (click)='sendIdOfStation($event)'  ngModel>
                  <option disabled>Please select...</option>
                  <option *ngFor="let station of restStation" value={{station._id}}>{{station.name}}</option>
                </select>
               
            </div>
            
            <div  class="form-group" id="iddRight"*ngIf = "showComboBoxForAddSt2" > 
                <label for="NumberStation">Position:</label>
                <select name="NumberStation" class="form-control" (click)='showAddButton($event)' ngModel>
                  <option disabled>Please select...</option>
                  <option *ngFor="let i of arrayIntForAddStation" value={{i}}>{{i}}</option>
                </select>
                
            </div>
            
            <div *ngIf = "showAddButtonBool">
              <button type="submit" class="button" (click)="finallyAdd()"  class="btn" id="designBtn1">Add Station</button><br><br>
            </div>

        <br>
      <button *ngIf="showListOfStations" type="submit" class="button" class="btn" (click) = "onSubmitEdit()" align="center" id="designBtnForAction">Save changes</button> &nbsp;&nbsp;&nbsp;
      <input  type="button" class="btn"  id="designBtnForAction" value="Cancel" (click)="refreshPage()">
            
    </div> 

      <!-- <h3>Edit line</h3> -->
  </div>

  <div *ngIf="isSelectedDelete()">
      <!-- <h3>Delete line</h3> -->
      <form #lineForm="ngForm" (ngSubmit)="onSubmitDelete(lineForm.value, lineForm)">
          <div class="form-group">

              <label for="RegularNumber">Select line: </label>
              <select name="RegularNumber" (click)='showLines($event)' class="form-control" ngModel>
                <option disabled>Please select...</option>
                <option *ngFor="let line of linesForComboBox" value={{line.regularNumber}}>{{line.regularNumber}}</option>
                
              </select>
              
            </div>
            <br>
            <label *ngIf="selectedForComboBox" align="center">Station list for line {{selectedForComboBox}}</label>
             <table border="1">
              <div *ngFor="let station of sLineForEdit?.ListOfStations">
                <tr>
                  <td>
                <label>Name: {{station.Name}}</label>
                <label>Address: {{station.AddressStation}}</label>
              </td>
            </tr>
            </div>
            </table> <br>
            
              <div align="center">
                  <button type="submit" class="button" class="btn" id="designBtnForAction">Delete line</button> &nbsp;&nbsp;&nbsp;
                  <input  type="button" class="btn"  id="designBtnForAction" value="Cancel" (click)="refreshPage()">
            
              </div>
          
      </form>
  </div>
</div> 
</div>
</div>

</div>