<div id="wholePage">

<div *ngIf="!nonRegister() && !nonActivated() && !requestDeny()">
  <!-- <h2 id="info">You are not authorized to purchase tickets. Your request is processed! </h2> -->
</div>

<!-- <h2 *ngIf="requestDeny() && !nonRegister()" id="info">You do not have the right to purchase tickets, your request has been denied!</h2> -->
 
<h1  id="headerh1">Buy ticket</h1> <!--*ngIf="nonActivated()"-->
  <div class="row1" class="designForForm">
  <div class="columnForInside40">
    <form #buyTicketForm="ngForm"  (ngSubmit)="onSubmit(buyTicketForm.value, buyTicketForm)">
        <div *ngIf="nonRegister()" class="form-group">
            
            <label for="email" id="info">Email address</label>
            <input required type="email" class="form-control" name="Email" placeholder="Email" ngModel>

            <div *ngIf="!validations.emailForBuyTicketOk" style="color:red">Email can't be empty.</div>
        </div>

      <div *ngIf="!nonRegister()" class="form-group">  <!--Ako je registrovan-->
        
        <div > <!--*ngIf="nonActivated()"-->
          <label for="TypeOfTicket" id="info">Select type of ticket</label>
          <select name="TypeOfTicket"  class="form-group"  class="form-control" ngModel>
            <option disabled>Please select...</option>
            <option value="Hourly">Hourly</option>
            <option value="Daily">Daily</option>
            <option value="Monthly">Monthly</option>
            <option value="Yearly">Yearly</option> 
          </select>
          
          <div *ngIf="!validations.typeOfTicketOk" style="color:red">Please select type ticket.</div>
        </div>
      </div>

      <ngx-paypal [config]="payPalConfig"></ngx-paypal>

      <button  type="submit" class="nav-link" class="btn" class="marginForBtn" id="btnDesign">Complete shopping</button> 
      <!--*ngIf="(nonActivated() || nonRegister()) && (showButtonComplete)"-->
  </form>
</div>


 <div class="columnForInside60">
  <label *ngIf="nonRegister && !mailForPayPal" id="info">We are sorry, you are not registered, we do not have your ticket history</label>
  <div *ngIf="!nonRegister() && nonActivated() && !requestDeny()">
    
    <!--Niste kupili ni jednu kartu-->
    <label id="info">{{listOfBuyingTicket.length != 0 ? 'History of buying ticket' : 'You did not buy any tickets!'}}!</label>

    <table border="0" class="marginForTable">
      <tr *ngIf="listOfBuyingTicket.length" class="trHeader">
        <!-- <td>Id ticket</td> -->
        <td>Type of ticket</td>
        <td>Purchase date</td>
        <td>Price of ticket</td>
        <!-- <td>Valid</td> -->
      </tr>
      <tr *ngFor="let t of listOfBuyingTicket; index as i" class="trClass">
        <!-- <td>{{t.Id}}</td> -->
        <td>{{t.ticketType}}</td>
        <td>
          <!-- {{t.purchaseTime.split(".000Z")[0]}}  -->
          {{showDate(t.purchaseTime)}}
          
          <!--.split("-")[2]}}-{{t.PurchaseDate.split(" ")[0].split("-")[1]}}-{{t.PurchaseDate.split(" ")[0].split("-")[0]}}
            {{t.PurchaseDate.split(" ")[1].split(".")[0]-->
        </td>
        <td>{{t.priceOfTicket}}</td>
        <!-- <td>{{listaVaznosti[i]}}</td> -->
      </tr>
    </table>
     
  </div>
</div>
</div>

</div>
