<div id="wholePage">

  <h2 *ngIf="NonActiveUser()" id="info">You are not authorized for buying a ticket ! Your request is processed! </h2>
  <h2 *ngIf="DeniedUser()" id="info">You are not authorized for buying a ticket! Your request is denied!</h2>
  
  <!-- <div *ngIf="NonActiveUser() || DeniedUser()">
    <br><br><br><br><br><br><br><br><br><br><br>
  </div> -->

 <!-- <div *ngIf="LoggedUser()"> -->
<h1  id="headerh1" *ngIf="LoggedUser()">Buy a ticket</h1> <!--*ngIf="nonActivated()"-->
  <div class="row1" class="designForForm">
  <div class="columnForInside40">
    <form #buyTicketForm="ngForm"  (ngSubmit)="onSubmit(buyTicketForm.value, buyTicketForm)">
        <div *ngIf="nonRegister()" class="form-group">
            
            <label for="email" id="info">Email address</label>
            <input required type="email" class="form-control" name="Email" placeholder="Email" ngModel>
        </div>

      <div *ngIf="!nonRegister() && LoggedUser()" class="form-group">  <!--Ako je registrovan-->
        
        <div > <!--*ngIf="nonActivated()"-->
          <label for="TypeOfTicket" id="info">Select type of ticket</label>
          <select name="TypeOfTicket"  class="form-group"  class="form-control" ngModel>
            <option disabled>Please select...</option>
            <option value="Hourly">Hourly</option>
            <option value="Daily">Daily</option>
            <option value="Monthly">Monthly</option>
            <option value="Yearly">Yearly</option> 
          </select>
          
          <!-- <div *ngIf="!validations.typeOfTicketOk" style="color:red">Please select type ticket.</div> -->
        </div>
      </div>
      <div >
        <ngx-paypal [config]="payPalConfig"></ngx-paypal>
       </div>
      <button  type="submit" class="nav-link" class="btn" class="marginForBtn" id="btnDesign" *ngIf="dugmeComplete && LoggedUser()">Complete shopping</button> 
      <button  type="submit" class="nav-link" class="btn" class="marginForBtn" id="btnDesign" *ngIf="dugmeComplete && nonRegister()">Complete shopping</button> 
      
      <!--*ngIf="(nonActivated() || nonRegister()) && (showButtonComplete)"-->
  </form>
</div>


 <div class="columnForInside60">
  <label *ngIf="nonRegister && !mailForPayPal" id="info">We are sorry, you are not registered, we do not have your ticket history</label>
  <div *ngIf="!nonRegister() && nonActivated() && !DeniedUser()">
    
    <!--Niste kupili ni jednu kartu-->
    <label id="info">{{listOfBuyingTicket.length != 0 ? 'History of buying ticket' : 'You did not buy any tickets!'}}!</label>

    <table border="0" class="marginForTable">
      <tr *ngIf="listOfBuyingTicket.length" class="trHeader">
        <!-- <td>Id ticket</td> -->
        <td>Type of ticket</td>
        <td>Purchase date</td>
        <td>Price of ticket</td>
        <!-- <td>Valid</td> -->
      </tr>
      <tr *ngFor="let t of listOfBuyingTicket; index as i" class="trClass">
        <!-- <td>{{t.Id}}</td> -->
        <td>{{t.ticketType}}</td>
        <td>
          <!-- {{t.purchaseTime.split(".000Z")[0]}}  -->
          {{showDate(t.purchaseTime)}}
          
          <!--.split("-")[2]}}-{{t.PurchaseDate.split(" ")[0].split("-")[1]}}-{{t.PurchaseDate.split(" ")[0].split("-")[0]}}
            {{t.PurchaseDate.split(" ")[1].split(".")[0]-->
        </td>
        <td>{{t.priceOfTicket}}</td>
        <!-- <td>{{listaVaznosti[i]}}</td> -->
      </tr>
    </table>
     
  </div>
</div>
</div>
<!-- </div>  -->

</div>
 