<div id="wholePage">
  <h2 *ngIf="NonActiveController()" id="info">You are not authorized for validate ticket ! Your request is processed! </h2>
  <h2 *ngIf="DeniedController()" id="info">You are not authorized for validate ticket! Your request is denied!</h2>
  
  <div *ngIf="NonActiveController() || DeniedController()">
    <br><br><br><br><br><br><br><br><br><br><br>
  </div>
<!-- <div *ngIf="pomBool">
<label>Ticket ID:</label>
<input class="form-group"  class="form-control" type="number" name="ticketId" [(ngModel)]="myInput">
<button name="butoon1" class="button" class="btn" (click)="FindTicket(myInput)">Find ticket</button>

<label>{{ticketExists}}</label><br/>

<div *ngIf="ticketForV">
  <div *ngIf="ticketForV.AppUserId && ticketForV.AppUserId != ''">
    <label>User email:</label>
    <input class="form-group"  class="form-control" type="text" name="userEmail" [(ngModel)]="myInput1">
    <button name="butoon2" class="button" class="btn" (click)="ValidateTicket(myInput1)">Validate</button>
  </div>
</div>



<label>{{ticketMessage}}</label>

</div> -->

<div class="row1" *ngIf="LoggedController()"> <!-- *ngIf="pomBool" -->
  <h1 id="headerh1">Validate ticket</h1>
<div  class="columnForInside40"> 
  <label id="info">Ticket ID:</label>
  <div class="form-group">
  <input class="form-group"  class="form-control" type="text" name="ticketId" [(ngModel)]="inputIdTicket">
  <div *ngIf="!validations.ticketIdOk" style="color:red">Ticket id can't be empty!</div>
  </div>
  <br>
  <button name="butoon1" class="button" class="btn" id="btnDesign" class= "marginPom" (click)="CheckTicket(inputIdTicket)">Check ticket</button>
</div>

<div class="columnForInside60">
<label id="info">{{ticketMessage}}</label> 
<label id="info2">{{nameOfCustomerMessage}}</label>
</div>

</div>
</div>